@font-face {
  font-family: 'Norse';
  src: url('fonts/Norse-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    background:url("unsplash.jpg")center /cover no-repeat;
    position:relative;
    
    
}

.container{
    
    background-color:white;
    width:50%;
   min-height:100vh;
    margin:auto;
    padding-top:40px;

}


label{
    display:block
}
input{
    border: 1px solid #E5E7EB;
    border-radius:2px
}
input:required {
  border: 1px solid red;
  border-radius:2px
}
#l_n{
    border:1px solid blue;
}
#l_n:focus{
  border: 1px solid blue;
  outline:none;
  box-shadow: 0 0 5px rgba(0,0,255,0.3)
}
.cont{
    display:flex;
    gap:50px;
    margin:30px;
    font-size:0.4rem;
    font-weight:bold;
  
}
.para{
    padding:30px;
    font-size:0.8rem;
    font-weight:bold;
    font-family:sans-serif;
    
}
.info{
    margin-top:10px;
}
h4{
    padding:30px;
    font-family:sans-serif
}
button{
    background-color: #596D48;
    color:white;
    font-size:0.8rem;
    width:7rem;
    padding:5px;
    border-radius:5px;
    margin-bottom:20px;
    position:static
    margin-left:-70px;
    

}
.btnp{

    background-color:#EEEEEE;
    padding:20px;
}
.lastpara{
    font-size:0.7rem;

}

.odin-container{
    display:flex;
    background-color:rgba(0, 0, 0, 0.6);
    position:absolute;
    height:80px;
    width:260px;
    margin-left:-260px;
    margin-top:-70px;
    align-items:center;
    justify-content:center

}

#imgpara{
    color:white;
    font-family:'Norse', sans-serif;
    font-size:2rem
}
